#wholepage{
	background-color: peachpuff;
	font-family: Tahoma;
}

#top {
	height: 300px;	
	background-image: url("images/top3.jpg");
	background-repeat: no-repeat;	
	z-index: -5px;
	opacity: 0.8;
	background-position: center;
	background-size: 1210px;
}

#top .topcontent{
	margin-left: 300px;			
	padding-top: 30px;
	padding-bottom: 30px;
	width: 700px;
	background-color: black;
	opacity: 0.8;
	color: white;
	font-size: 50px;
	font-weight: bold;
	text-align: center;	
}

#navbar{	
	width: auto;
	height: 50px;
	background-color: snow  ;
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: whitesmoke;

}

#menu li{
	display: inline;
}

#menu li a{
	text-decoration: none;
	margin-right: 50px;
	margin-left: 80px;
	font-size: 20px;
	color: black;
	
}

#main{
	height: 1100px;
	background-color: snow;
	margin-top: 30px;
	margin-left: 60px;
	margin-right: 60px;
}


.column{
	float: left;
	width: 500px;
	margin-left: 60px;
}

.column2{
	float: left;
	width: 500px;
	margin-left: 60px;
}

p{
	text-indent: 20px;
}

.north{
	width: 400px;
	height: 250px;
	margin-left: 30px;

}

.center{
	width: 400px;
	height: 250px;
	margin-left: 30px;
	margin-top: 60px;

}


.easr{
	width: 400px;
	height: 250px;
	margin-left: 30px;
	margin-top: 160px;

}

.south{
	width: 400px;
	height: 250px;
	margin-left: 30px;

}